* {
box-sizing: border-box;
}
html {
font-family: sans-serif;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
body {
margin: 0;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
.container {
width: 315px;
}
#mobile-nav {
height:auto;;
overflow: hidden;
}
.logo-div{
width: 100%;
}
.main-menu{
float: none!important;
margin-top: -7px;
}
.main-menu .menu-bar{
margin-top: 7px;
background-color: black;
display: none;
}
.main-menu .menu-bar .menu-item {
 float: none!important;
 margin-bottom: 5px;
}
.menu-item .menu-link {
 line-height: 25px;
}
.menu-item:hover {
background-color: #ffa500bd;
transition: all 1s;
}
.mobile-menu {
background-color: orange;
width: 100%;
overflow: hidden;
display: block;
}
button#mobilemenuButton {
padding: 5px;
border: 1px solid white;
background: transparent;
float: right;
color: white;
font-size: 30px;
cursor: pointer;
outline-color: white;
}
.about-pic {
width: 100%;
}
.client-discription:hover {
/* margin-bottom: 15px!important; */
/* margin-top: 15px!important; */
/* width: 358px; */
/* margin: auto; */
transform: scale(0.9);
}
.work-menuBar .inline-link {
padding: 10px 3px;
font-size: 10px;
}
.hire-content h2{
font-size: 20px;
}
}
@media (min-width:768px) and (max-width: 991px) {
.container {
width: 750px;
}
.menu-bar{
display: block!important;
}
.about-pic{
margin-left: -12px;
}
.client-discription:hover {
transform: scale(0.9);
transition: all 1s;
}
}
@media (min-width:992px) {
.container {
width: 970px;
}
.menu-bar{
display: block!important;
}
.client-discription:hover {
transform: scale(1.1);
transition: all 1s;
}
}
.row {
margin-right: -15px;
margin-left: -15px;
}
.row::after {
content: "";
clear: both;
display: table;
}
.col-sm-1, .col-md-1, .col-lg-1,
.col-sm-2, .col-md-2, .col-lg-2,
.col-sm-3, .col-md-3, .col-lg-3,
.col-sm-4, .col-md-4, .col-lg-4,
.col-sm-5, .col-md-5, .col-lg-5,
.col-sm-6, .col-md-6, .col-lg-6,
.col-sm-7, .col-md-7, .col-lg-7,
.col-sm-8, .col-md-8, .col-lg-8,
.col-sm-9, .col-md-9, .col-lg-9,
.col-sm-10, .col-md-10, .col-lg-10,
.col-sm-11, .col-md-11, .col-lg-11,
.col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
float: left;
}
.col-sm-12 {
width: 100%;
}
.col-sm-11 {
width: 91.66666667%;
}
.col-sm-10 {
width: 83.33333333%;
}
.col-sm-9 {
width: 75%;
}
.col-sm-8 {
width: 66.66666667%;
}
.col-sm-7 {
width: 58.33333333%;
}
.col-sm-6 {
width: 50%;
}
.col-sm-5 {
width: 41.66666667%;
}
.col-sm-4 {
width: 33.33333333%;
}
.col-sm-3 {
width: 25%;
}
.col-sm-2 {
width: 16.66666667%;
}
.col-sm-1 {
width: 8.33333333%;
}
}
@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
float: left;
}
.col-md-12 {
width: 100%;
}
.col-md-11 {
width: 91.66666667%;
}
.col-md-10 {
width: 83.33333333%;
}
.col-md-9 {
width: 75%;
}
.col-md-8 {
width: 66.66666667%;
}
.col-md-7 {
width: 58.33333333%;
}
.col-md-6 {
width: 50%;
}
.col-md-5 {
width: 41.66666667%;
}
.col-md-4 {
width: 33.33333333%;
}
.col-md-3 {
width: 25%;
}
.col-md-2 {
width: 16.66666667%;
}
.col-md-1 {
width: 8.33333333%;
}
}
@media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
float: left;
}
.col-lg-12 {
width: 100%;
}
.col-lg-11 {
width: 91.66666667%;
}
.col-lg-10 {
width: 83.33333333%;
}
.col-lg-9 {
width: 75%;
}
.col-lg-8 {
width: 66.66666667%;
}
.col-lg-7 {
width: 58.33333333%;
}
.col-lg-6 {
width: 50%;
}
.col-lg-5 {
width: 41.66666667%;
}
.col-lg-4 {
width: 33.33333333%;
}
.col-lg-3 {
width: 25%;
}
.col-lg-2 {
width: 16.66666667%;
}
.col-lg-1 {
width: 8.33333333%;
}
}